.jumbotron {
	background: linear-gradient(to bottom right, #28b9c1, #4388cb);
	min-height: 700px;
}

.jumbotron h1, p {
	color: #fff;
}

.jumbotron h1 {
	margin-top: 15%;
	font-size: 6em;
}

nav li{
	text-align: center;
}
.navTop {
	background: rgba(100,100,100, 0);
	margin-bottom: 30px;
	
}

.nav-link {
	color: #fff;
}

.navbar-collapse {
	color:#fff;
}

.fa:hover{
	color:#59b6f9;
}

.socialFooter {
	list-style: none;
	display: inline-flex;
	margin-right: 20px;
	margin-bottom: 0px;
}
.fa {
	color: white;
	margin: 0px 15px 0px 15px

}


.workSection {
	padding:20px 30px 20px 30px;
	min-height: 400px;

}

.card {
	border: none;
}

.contact {
	background: linear-gradient(to bottom right, #858483, #575757);	
}
.work {
	background: linear-gradient(to bottom right, #0af202, #02b03f);	
}
.skills {
	background: linear-gradient(to bottom right, #ff6701, #ff170f);	
}

.decSection {
	background: linear-gradient(to bottom right, #28b9c1, #4388cb);
	min-height: 300px;
	width: 145%;
	margin-left: -115px;
}

.endSection {
	background: linear-gradient(to bottom right, #858483, #575757);
	min-height: 175px;
	width: 145%;
	margin-left: -115px;
}